In [4]:
pd.read_parquet('logs/03_osn-flight_table-overflights-etl-log.parquet')

        months
0   2022-01-01
1   2022-02-01
2   2022-03-01
3   2022-04-01
4   2022-05-01
5   2022-06-01
6   2022-07-01
7   2022-08-01
8   2022-09-01
9   2022-10-01
10  2022-11-01
11  2022-12-01
12  2023-01-01
13  2023-02-01
14  2023-03-01
15  2023-04-01
16  2023-05-01
17  2023-06-01
18  2023-07-01
19  2023-08-01
20  2023-09-01
21  2023-10-01
22  2023-11-01
23  2023-12-01
24  2024-01-01
25  2024-02-01
26  2024-03-01
27  2024-04-01
28  2024-05-01
29  2024-06-01
30  2024-07-01
31  2024-08-01
32  2024-09-01
33  2024-10-01
34  2024-11-01
35  2024-12-01

In [1]:
from pyspark.sql import SparkSession, Window
from pyspark.sql import functions as F
from pyspark.sql.functions import (
    lit, lag, when, to_date, concat, avg, abs, col, unix_timestamp, to_timestamp
)
from pyspark.sql import DataFrame
import os
import pandas as pd
from datetime import datetime, date
import dateutil.relativedelta
import calendar
import h3_pyspark
import gc

# Settings
project = "project_opdi"
test_day = date(2024, 1, 1)

# Spark Session Initialization
spark = SparkSession.builder \
    .appName("OPDI Ingestion") \
    .config("spark.hadoop.fs.azure.ext.cab.required.group", "eur-app-opdi") \
    .config("spark.kerberos.access.hadoopFileSystems", "abfs://storage-fs@cdpdllive.dfs.core.windows.net/data/project/opdi.db/unmanaged") \
    .config("spark.executor.extraClassPath", "/opt/spark/optional-lib/iceberg-spark-runtime-3.3_2.12-1.3.1.1.20.7216.0-70.jar") \
    .config("spark.driver.extraClassPath", "/opt/spark/optional-lib/iceberg-spark-runtime-3.3_2.12-1.3.1.1.20.7216.0-70.jar") \
    .config("spark.sql.catalog.spark_catalog.type", "hive") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkSessionCatalog") \
    .config("spark.sql.iceberg.handle-timestamp-without-timezone", "true") \
    .config("spark.sql.catalog.spark_catalog.warehouse", "abfs://storage-fs@cdpdllive.dfs.core.windows.net/data/project/opdi.db/unmanaged") \
    .config("spark.driver.cores", "1") \
    .config("spark.driver.memory", "5G") \
    .config("spark.executor.memory", "16G") \
    .config("spark.executor.memoryOverhead", "3G") \
    .config("spark.executor.cores", "2") \
    .config("spark.executor.instances", "3") \
    .config("spark.dynamicAllocation.maxExecutors", "4") \
    .config("spark.network.timeout", "800s") \
    .config("spark.executor.heartbeatInterval", "400s") \
    .config("spark.driver.maxResultSize", "6g") \
    .config("spark.shuffle.compress", "true") \
    .config("spark.shuffle.spill.compress", "true") \
    .enableHiveSupport() \
    .getOrCreate()

Setting spark.hadoop.yarn.resourcemanager.principal to quinten.goens

In [3]:
from pyspark.sql.functions import pandas_udf, PandasUDFType
import pandas as pd
from traffic.core import Traffic

df = spark.sql(
    f"SELECT * FROM {project}.osn_tracks "
    "WHERE event_time >= TIMESTAMP '2024-01-01 12:00:00' "
    "AND event_time < TIMESTAMP '2024-01-01 14:00:00'"
)

# Define a Pandas UDF
@pandas_udf("string", PandasUDFType.GROUPED_MAP)
def process_trajectory(trajectory_df: pd.DataFrame) -> pd.DataFrame:
    traffic_obj = Traffic.from_dataframe(trajectory_df)
    
    # Example: Add a new column with summary results
    trajectory_df["traffic_summary"] = traffic_obj.summary()  # Modify as needed

    return trajectory_df  # Return the modified DataFrame

# Apply the function using groupBy (e.g., by flight ID)
result_df = spark_df.groupBy("flight_id").apply(process_trajectory)

+-------------------+------+------------------+------------------+------------------+------------------+-------------------+--------+---------+-----+-----+------+------------------+------------------+------------------+------------------+----------------+----------------+-------------+--------------------+---------------+---------------+-------------------+----------------------+
|         event_time|icao24|               lat|               lon|          velocity|           heading|          vert_rate|callsign|on_ground|alert|  spi|squawk|     baro_altitude|   baro_altitude_c|      geo_altitude|    geo_altitude_c| last_pos_update|    last_contact|      serials|            track_id|      h3_res_12|       h3_res_7|segment_distance_nm|cumulative_distance_nm|
+-------------------+------+------------------+------------------+------------------+------------------+-------------------+--------+---------+-----+-----+------+------------------+------------------+------------------+------------------+----------------+----------------+-------------+--------------------+---------------+---------------+-------------------+----------------------+
|2024-01-01 13:42:40|46ced4|40.450836181640625|  22.9927978515625| 81.97919775332998| 346.5741907502853|-5.8521600000000005|SEH3HG  |    false|false|false|  1425|441.96000000000004|441.96000000000004| 518.1600000000001| 518.1600000000001|1.704116559504E9|1.704116559504E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcc3478d7ff|871edcc34ffffff| 0.6931783095206648|     163.0816811189331|
|2024-01-01 13:42:45|46ced4| 40.45436018604343| 22.99170060591264| 79.47951688861215|346.14364849830145|-5.8521600000000005|SEH3HG  |    false|false|false|  1425|            411.48|            411.48|495.30000000000007|495.30000000000007|1.704116564531E9|1.704116564531E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcc34730bff|871edcc34ffffff| 0.2174404275399061|      163.299121546473|
|2024-01-01 13:42:50|46ced4|  40.4576653949285|22.990639426491477| 77.98197299560334| 345.8720833630803|           -5.20192|SEH3HG  |    false|false|false|  1425|            388.62|            388.62|441.96000000000004|441.96000000000004|1.704116569363E9|1.704116569363E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcc340a2bff|871edcc34ffffff|0.20428222707076144|    163.50340377354377|
|2024-01-01 13:42:55|46ced4|40.460906982421875| 22.98956298828125|   75.736920216587|346.24692941347695|           -4.22656|SEH3HG  |    false|false|false|  1425|            365.76|            365.76|426.71999999999997|426.71999999999997|1.704116574235E9|1.704116574399E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcc341a1bff|871edcc34ffffff|0.20074259096218813|    163.70414636450596|
|2024-01-01 13:43:00|46ced4|40.464275812698624|22.988454645330254| 75.23732507598808| 346.1537915881735|           -4.55168|SEH3HG  |    false|false|false|  1425|335.28000000000003|335.28000000000003|426.71999999999997|426.71999999999997| 1.70411657935E9| 1.70411657935E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcc34893bff|871edcc34ffffff| 0.2085064738612298|     163.9126528383672|
|2024-01-01 13:43:05|46ced4|40.467315673828125|   22.987548828125| 72.49463365920741|346.45682335755527|           -4.22656|SEH3HG  |    false|false|false|  1425|            320.04|            320.04|             381.0|             381.0|1.704116584062E9|1.704116584062E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcc3499d5ff|871edcc34ffffff| 0.1871459166760062|     164.0997987550432|
|2024-01-01 13:43:10|46ced4| 40.46935000662076|22.986894087357953| 70.37360761693242| 346.4716845336273|           -4.22656|SEH3HG  |    false|false|false|  1425|             304.8|             304.8|             381.0|             381.0|1.704116587375E9|1.704116587375E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcc349a05ff|871edcc34ffffff|0.12575025099591935|     164.2255490060391|
|2024-01-01 13:43:15|46ced4| 40.47111511230469|      22.986328125|  66.6319180752403| 346.6075022462489|            -4.8768|SEH3HG  |    false|false|false|  1425|            289.56|            289.56|            350.52|            350.52|1.704116590322E9|1.704116594676E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcd1a64c1ff|871edcd1affffff|0.10908498752080444|    164.33463399355992|
|2024-01-01 13:43:20|46ced4| 40.47637939453125|   22.984619140625| 65.63144209765268| 346.3994574833413|           -3.90144|SEH3HG  |    false|false|false|  1425|            243.84|            243.84|            350.52|            350.52|1.704116599263E9|1.704116599263E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcd1a3953ff|871edcd1affffff| 0.3255651711300698|       164.66019916469|
|2024-01-01 13:43:25|46ced4| 40.47637939453125|   22.984619140625| 66.01140461105369| 345.0973457609689|           -4.55168|SEH3HG  |    false|false|false|  1425|            243.84|            243.84|             304.8|             304.8|1.704116599263E9|1.704116601952E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcd1a3953ff|871edcd1affffff|                0.0|       164.66019916469|
|2024-01-01 13:43:30|46ced4| 40.48109436035156| 22.98309326171875|  65.5123781181733| 346.8367675103005|           -2.60096|SEH3HG  |    false|false|false|  1425|            213.36|            213.36|            274.32|            274.32|1.704116607456E9|1.704116608868E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcd1a0609ff|871edcd1affffff| 0.2915396871968477|    164.95173885188686|
|2024-01-01 13:43:35|46ced4| 40.48447948391154|22.982087568803266| 64.17160516424815|347.96940390346214|           -4.22656|SEH3HG  |    false|false|false|  1425|            198.12|            198.12|            259.08|            259.08|1.704116613492E9|1.704116613492E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcd1ab905ff|871edcd1affffff|0.20836877012225297|    165.16010762200912|
|2024-01-01 13:43:40|46ced4| 40.48447948391154|22.982087568803266| 62.77481698766664|347.21654605857566|           -5.52704|SEH3HG  |    false|false|false|  1425|            198.12|            198.12|            259.08|            259.08|1.704116613492E9| 1.70411661892E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcd1ab905ff|871edcd1affffff|                0.0|    165.16010762200912|
|2024-01-01 13:43:45|46ced4| 40.48447948391154|22.982087568803266|62.510767626010164| 346.1924809837987|-2.9260800000000002|SEH3HG  |    false|false|false|  1425|            198.12|            198.12|            259.08|            259.08|1.704116613492E9|1.704116624798E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcd1ab905ff|871edcd1affffff|                0.0|    165.16010762200912|
|2024-01-01 13:43:50|46ced4|  40.4929985434322| 22.97952825372869|61.889558905241266|346.54131539138496|-3.5763200000000004|SEH3HG  |    false|false|false|  1425|129.54000000000002|129.54000000000002|            259.08|            259.08|1.704116629025E9|1.704116629025E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcd1a9659ff|871edcd1affffff| 0.5246691734522091|    165.68477679546132|
|2024-01-01 13:43:55|46ced4|  40.4929985434322| 22.97952825372869|61.389359329582845| 346.4295656148385|           -4.55168|SEH3HG  |    false|false|false|  1425|129.54000000000002|129.54000000000002|190.50000000000003|190.50000000000003|1.704116629025E9|1.704116634782E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcd1a9659ff|871edcd1affffff|                0.0|    165.68477679546132|
|2024-01-01 13:44:00|46ced4|  40.4929985434322| 22.97952825372869|61.389359329582845| 346.4295656148385|           -4.55168|SEH3HG  |    false|false|false|  1425|129.54000000000002|129.54000000000002|190.50000000000003|190.50000000000003|1.704116629025E9|1.704116634782E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcd1a9659ff|871edcd1affffff|                0.0|    165.68477679546132|
|2024-01-01 13:44:05|46ced4|  40.4929985434322| 22.97952825372869|61.389359329582845| 346.4295656148385|           -4.55168|SEH3HG  |    false|false|false|  1425|129.54000000000002|129.54000000000002|190.50000000000003|190.50000000000003|1.704116629025E9|1.704116634782E9|[-1408231569]|2480f7b9f40eec4e6...|8c1edcd1a9659ff|871edcd1affffff|                0.0|    165.68477679546132|
|2024-01-01 13:44:10|46ced4|  40.4929985434322| 22.97952825372869|61.389359329582845| 346.4295656148385|           -4.55168|SEH3HG  |    false|false|false|  1425|129.54000000000002|129.54000000000002|190.50000000000003|190.50000000000003|1.704116629025E9|1.704116634782E9|           []|2480f7b9f40eec4e6...|8c1edcd1a9659ff|871edcd1affffff|                0.0|    165.68477679546132|
|2024-01-01 13:44:15|46ced4|  40.4929985434322| 22.97952825372869|61.389359329582845| 346.4295656148385|           -4.55168|SEH3HG  |    false|false|false|  1425|129.54000000000002|129.54000000000002|190.50000000000003|190.50000000000003|1.704116629025E9|1.704116634782E9|           []|2480f7b9f40eec4e6...|8c1edcd1a9659ff|871edcd1affffff|                0.0|    165.68477679546132|
+-------------------+------+------------------+------------------+------------------+------------------+-------------------+--------+---------+-----+-----+------+------------------+------------------+------------------+------------------+----------------+----------------+-------------+--------------------+---------------+---------------+-------------------+----------------------+
only showing top 20 rows