In [15]:
import pandas as pd
df = pd.read_parquet('data/airport_hex/airport_concentric_c_hex_res_7_v2.parquet')
offset = 3  # degrees
f_lat = (df.latitude_deg.between(26.74617 - offset, 70.25976 + offset))
f_lon = (df.longitude_deg.between(-25.86653 - offset, 49.65699 + offset))
df = df[f_lat & f_lon]
df = df.loc[:,['ident','type']].drop_duplicates()
df.type.value_counts()

type
small_airport     6719
heliport          3140
closed            1727
medium_airport    1190
large_airport      153
seaplane_base       50
balloonport          8
Name: count, dtype: int64

In [12]:
df_ref = pd.read_csv('https://davidmegginson.github.io/ourairports-data/airports.csv')
offset = 3  # degrees
f_lat = (df_ref.latitude_deg.between(26.74617 - offset, 70.25976 + offset))
f_lon = (df_ref.longitude_deg.between(-25.86653 - offset, 49.65699 + offset))
df_ref = df_ref[f_lat & f_lon]
df_ref.type.value_counts()

type
small_airport     6716
heliport          3140
closed            1725
medium_airport    1189
large_airport      153
seaplane_base       50
balloonport          8
Name: count, dtype: int64

In [16]:
df_ref[~df_ref.ident.isin(df.ident.to_list())]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
14074,576168,BH-0009,medium_airport,XOSO66,30.0,30.0,NaN,AS,BH,BH-13,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
idents = df[~df.ident.isin(df_ref.ident.to_list())].ident

In [22]:
idents

15024    EDWR
49908    LAVL
52176    LFBZ
52506    LFED
53670    LFNB
54600    LFTZ
60852    LW69
Name: ident, dtype: object

In [21]:
df_ref = pd.read_csv('https://davidmegginson.github.io/ourairports-data/airports.csv')
df_ref[df_ref.ident.isin(idents)]

Empty DataFrame
Columns: [id, ident, type, name, latitude_deg, longitude_deg, elevation_ft, continent, iso_country, iso_region, municipality, scheduled_service, gps_code, iata_code, local_code, home_link, wikipedia_link, keywords]
Index: []

In [ ]:
aa

In [14]:
import os
import pandas as pd

# Define the directory and target columns
directory = "data/OPDI/v002/flight_list"
columns_to_select = [
    'id', 'icao24', 'flt_id', 'dof', 'adep', 'ades', 'adep_p', 'ades_p',
    'registration', 'model', 'typecode', 'icao_aircraft_class',
    'icao_operator', 'first_seen', 'last_seen', 'version'
]

# Iterate through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".parquet"):
        filepath = os.path.join(directory, filename)
        print(f"Processing file: {filepath}")
        
        # Read the Parquet file
        df = pd.read_parquet(filepath)
        
        # Select the specified columns
        filtered_df = df[columns_to_select]
        
        # Overwrite the original file with the filtered DataFrame
        filtered_df.to_parquet(filepath, index=False)
        print(f"File overwritten: {filepath}")

Processing file: data/OPDI/v002/flight_list/flight_list_202411.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202411.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202410.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202410.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202409.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202409.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202408.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202408.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202407.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202407.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202406.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202406.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202405.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202405.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202404.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202404.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202403.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202403.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202402.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202402.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202401.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202401.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202312.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202312.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202311.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202311.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202310.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202310.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202309.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202309.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202308.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202308.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202307.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202307.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202306.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202306.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202305.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202305.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202304.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202304.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202303.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202303.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202302.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202302.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202301.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202301.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202212.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202212.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202211.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202211.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202210.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202210.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202209.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202209.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202208.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202208.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202207.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202207.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202206.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202206.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202205.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202205.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202204.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202204.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202203.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202203.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202202.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202202.parquet
Processing file: data/OPDI/v002/flight_list/flight_list_202201.parquet
File overwritten: data/OPDI/v002/flight_list/flight_list_202201.parquet

In [1]:
import pandas as pd

In [18]:
import os
import pandas as pd

# Define the directory and target columns
directory = "data/OPDI/v002/flight_events"

# Iterate through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".parquet"):
        filepath = os.path.join(directory, filename)
        print(f"Processing file: {filepath}")
        
        # Read the Parquet file
        df = pd.read_parquet(filepath)
        
        # Select the specified columns
        df = df.rename({'VERSION':'version'},axis=1)

        df['version'] = df['version'].apply(lambda l: l.split('_')[1])
        
        # Overwrite the original file with the filtered DataFrame
        df.to_parquet(filepath, index=False)
        print(f"File overwritten: {filepath}")

Processing file: data/OPDI/v002/flight_events/flight_events_20241017_20241027.parquet
File overwritten: data/OPDI/v002/flight_events/flight_events_20241017_20241027.parquet
Processing file: data/OPDI/v002/flight_events/flight_events_20241007_20241017.parquet

KeyboardInterrupt:

In [19]:
pd.read_parquet('data/OPDI/v002/flight_events/flight_events_20241017_20241027.parquet')

,id,flight_id,type,event_time,longitude,latitude,altitude,source,version,info
0,20241001_3676492005390,1cb7c0e3f9887d7faddd2f77226b19c88011c615493594...,entry-taxiway,2024-10-23 18:01:40,9.999207,53.635757,-500.000016,OSN,v0.0.2,"{""osm_id"":906662500,""osm_aeroway"":""taxiway"",""o..."
1,20241001_3676492005391,597c2479c65f89e03683c5a5b19f404fde3e0982a7c1ab...,entry-taxiway,2024-10-22 07:49:20,22.980402,40.517951,-500.000016,OSN,v0.0.2,"{""osm_id"":163147022,""osm_aeroway"":""taxiway"",""o..."
2,20241001_3676492005393,678ee2609e9dd32fe5f8b34d596faff9fac0ef4f2b6aa3...,entry-taxiway,2024-10-23 15:49:00,4.461288,51.190377,-500.000016,OSN,v0.0.2,"{""osm_id"":44448902,""osm_aeroway"":""taxiway"",""os..."
3,20241001_3676492005400,d5a17d37b042e38f4c374e580f0959e7808ec51cc41d9e...,entry-taxiway,2024-10-23 09:42:00,6.761341,51.281887,-475.000015,OSN,v0.0.2,"{""osm_id"":142679091,""osm_aeroway"":""taxiway"",""o..."
4,20241001_3676492005402,009e940f96cdeecfd4bc916743a9471eb52f9035d4980c...,entry-taxiway,2024-10-21 08:11:15,12.349548,45.506001,-450.000014,OSN,v0.0.2,"{""osm_id"":1132512121,""osm_aeroway"":""taxiway"",""..."
...,...,...,...,...,...,...,...,...,...,...
13851948,20241001_1451699058564,ff1e0d9049ccdd42c848a49bd94b36aeb4106a366aa258...,top-of-descent,2024-10-17 14:42:15,24.576825,37.201401,37000.001184,OSN,v0.0.2,
13851949,20241001_1451699058592,ff26656a5d1bad0dfacaf49ba5c2e08c071ae686262b6f...,top-of-descent,2024-10-24 15:31:05,5.023202,49.677988,30975.000991,OSN,v0.0.2,
13851950,20241001_1451699058637,ff3aa38eec78f9779fd8c5ece050ea336cbc5fb91e2dce...,top-of-descent,2024-10-20 00:41:15,33.477264,33.027695,20275.000649,OSN,v0.0.2,
13851951,20241001_1451699058641,ff3e09d0b153d949b4c5b476026eb91746837621b57746...,top-of-descent,2024-10-21 14:47:00,31.025028,27.043533,34975.001119,OSN,v0.0.2,
13851952,20241001_1451699058680,ff75997005b005970e80a11d8dab2f232367ffeee7cb2e...,top-of-descent,2024-10-17 16:40:50,11.400820,53.768161,34000.001088,OSN,v0.0.2,

In [9]:
df = pd.read_parquet('data/OPDI/v002/flight_events/flight_events_20220101_20220111.parquet')

In [12]:
df = pd.read_parquet('data/OPDI/v002/measurements/measurements_20220101_20220111.parquet')

In [13]:
df

,id,event_id,type,value,version
0,20220101__d_1005022347387,20220101_1005022347387,Distance flown (NM),251.771803,fm_v0.0.2
1,20220101__t_1005022347387,20220101_1005022347387,Time Passed (s),2680.000000,fm_v0.0.2
2,20220101__d_1005022347974,20220101_1005022347974,Distance flown (NM),145.217455,fm_v0.0.2
3,20220101__t_1005022347974,20220101_1005022347974,Time Passed (s),1160.000000,fm_v0.0.2
4,20220101__d_1005022348080,20220101_1005022348080,Distance flown (NM),706.163352,fm_v0.0.2
...,...,...,...,...,...
7859733,20220101__t_996432474336,20220101_996432474336,Time Passed (s),2595.000000,fm_v0.0.2
7859734,20220101__d_996432474437,20220101_996432474437,Distance flown (NM),6.908348,fm_v0.0.2
7859735,20220101__t_996432474437,20220101_996432474437,Time Passed (s),320.000000,fm_v0.0.2
7859736,20220101__d_996432475819,20220101_996432475819,Distance flown (NM),377.893439,fm_v0.0.2
7859737,20220101__t_996432475819,20220101_996432475819,Time Passed (s),3820.000000,fm_v0.0.2