In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet("data/daily/borealis-osn-3dpi_ENGM_EETN_2023-04-17 00:00_2023-04-18 00:00.parquet.gz")

In [5]:
df.shape

(8345, 21)

In [10]:
df = pd.read_parquet("data/daily/borealis-osn-3dpi_ENGM_EYVA_2023-04-25 00:00_2023-04-26 00:00.parquet.gz")

In [11]:
df.shape

(0, 0)

In [12]:
df

Empty DataFrame
Columns: []
Index: []